body {
    background: #f5f5f5;
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Noto Naskh Arabic', serif;
    font-family: 'Readex Pro', sans-serif;
}

#animContainer {
    width: 100%;
    height: 100%;
}

body {
    background: #f5f5f5 !important;
}

.Copyright {
    text-decoration: none;
    color: white;
}

.Copyright:hover {
    text-decoration: underline;
    color: #3f37c9;
}

.text-school {
    color: #0096c7;
}

:root {
    --plyr-color-main: #1196C7;
    --plyr-video-control-color: #f7f7f7;
}


